html, body{
    height: 100%;
    width: 100%;
    font-family: Popins, sans-serif;
    font-size: 20px;
}

.navbar-brand img{
    width: 67.5px;
    height: 67.5px;
}

.navbar-nav li{
    padding-right: 20px;
}

.carousel-inner{
    height: 500px;
}

.carousel-inner img{
    height: 100%;
}

@media (min-width: 1300px) {
    .carousel-inner img{
        width: 100%;
    }
}

.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-80%);
    text-shadow: 1px 1px 10px #000000;    
}

@media (max-width: 900px) {
    .carousel-caption .display-2 {
        font-size: 3em;
    }
    .display-4 {
        font-size: 2em;
    }
}

.jumbotron {
    padding: 1em;
    border-radius: 0;
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
}

.padding {
    padding: 2em;
}

.alert {
    width: 75%;
    margin: 0 auto;
    padding-top: 3em;
}

.alert hr {
    border-top: 2px solid silver;
    width: 95%;
    margin-top: 0.3em;
    margin-bottom: 1em;
}

footer{
    background-color: grey;
}

.grid-posts {
    margin: 50px;
}

.card {
    margin: 10px;
    border: 2px inset silver;
}

.form-check-label {
    margin-right: 15px;
    margin-left: 7px;
}

.kkal {
    margin-left: 40px;
}

 .log_reg {
    margin-top: 70px;
 }

 .btn_log, .btn_reg {
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 0 40px 0 20px; 
 }

.not_login {
    margin-top: 20px;
}

.redact {
    display: block;
}

.marg {
    margin-top: 5px;
}

.but_red {
    margin-top: 15px;
}